import 'package:flutter/material.dart';
import 'package:namer_app/profile.dart';
import 'login.dart';
import 'database_helper.dart';

void main() {
  runApp(MyApp());
}

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'SignUp',
      home: SignupPage(),
    );
  }
}

class SignupPage extends StatefulWidget {
  @override
  _SignupPageState createState() => _SignupPageState();
}

class _SignupPageState extends State<SignupPage> {
  TextEditingController _nameController = TextEditingController();
  TextEditingController _lastnameController = TextEditingController();
  TextEditingController _emailController = TextEditingController();
  TextEditingController _passwordController = TextEditingController();
  TextEditingController _retypePasswordController = TextEditingController();
  bool _passwordsMatch = true;

  void _signup() async {
    String name = _nameController.text;
    String lastname = _lastnameController.text;
    String email = _emailController.text;
    String password = _passwordController.text;
    String retypePassword = _retypePasswordController.text;

    if (password != retypePassword) {
      setState(() {
        _passwordsMatch = false;
      });
      return;
    }

    // Passwords match, continue with user creation

    // Generate a unique ID (you can modify this based on your requirements)
    String uniqueId = generateUniqueId();

    // Countdown membership length (you can modify this based on your requirements)
    int membershipCountdown = 30;

    // Create a user object
    User user = User(
      id: 0, // Assign a default value to the 'id' parameter
      name: name,
      lastname: lastname,
      email: email,
      password: password,
      uniqueId: uniqueId,
      membershipCountdown: membershipCountdown,
    );

    // Insert the user into the database
    DatabaseHelper databaseHelper = DatabaseHelper();
    await databaseHelper.insertUser(user);

    // Redirect to the new window
    Navigator.pushReplacement(
      context,
      MaterialPageRoute(builder: (context) => Profile()),
    );
  }

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text('Sign Up'),
      ),
      body: Padding(
        padding: EdgeInsets.all(16.0),
        child: Column(
          mainAxisAlignment: MainAxisAlignment.center,
          children: [
            TextField(
              controller: _nameController,
              decoration: InputDecoration(
                labelText: 'Name',
              ),
            ),
            SizedBox(height: 16.0),
            TextField(
              controller: _lastnameController,
              decoration: InputDecoration(
                labelText: 'Last Name',
              ),
            ),
            SizedBox(height: 16.0),
            TextField(
              controller: _emailController,
              decoration: InputDecoration(
                labelText: 'Email',
              ),
            ),
            SizedBox(height: 16.0),
            TextField(
              controller: _passwordController,
              decoration: InputDecoration(
                labelText: 'Password',
              ),
              obscureText: true,
            ),
            TextField(
              controller: _retypePasswordController,
              decoration: InputDecoration(
                labelText: 'Repeat password',
                errorText: !_passwordsMatch ? 'Passwords do not match' : null,
              ),
              obscureText: true,
            ),
            SizedBox(height: 16.0),
            ElevatedButton(
              onPressed: _signup,
              child: Text('Sign Up'),
            ),
            TextButton(
              onPressed: () {
                Navigator.pushReplacement(
                  context,
                  MaterialPageRoute(builder: (context) => LoginPage()),
                );
              },
              child: Text('or Login'),
            ),
          ],
        ),
      ),
    );
  }
}
