<!DOCTYPE html>
<html>
<head>
    <title>GetFit</title>
    <link rel="stylesheet" href='style.css'>
</head>
<body>
    <div class="container">
        <h1>Check-In</h1>
        <form id="barcode-form">
            <input type="text" id="barcode-input" placeholder="Barcode ID">
            <button type="submit">Provjeri Člana</button>
        </form>
        <div id="result"></div>

        <h1>Članarina</h1>
        <form id="extend-membership-form">
            <input type="text" id="barcode-input-extend" placeholder="Barcode ID">
            <button type="submit">Produži Članarinu (30 dana)</button>
        </form>
        <div id="result-extend"></div>

        <h1>Otvaranje Vrata</h1>
            <button type="submit">Otvori Vrata!</button>
        <div id=""></div>

        <h1>Lista Članova</h1>
            <button type=""><a href="user_list.html">Otvori Listu Članova</a></button>
        <div id=""></div>
    </div>
    
    <script src='script.js'></script>
</body>
</html>